* {
    text-align: center;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjxGYJwbeldFzDPgqlZ89_ObG0IG3WR6mfBMnHu_wSxw&s=10");
    background-size: cover;
    background-position: center;
}

.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.difficulty {
    background-color: #fffbe9e0;
    border: 1px solid black;
    border-radius: 50px;
    width: 40%;
    height: 100px;
    margin-top: 80px;
    color: #f9800f;
}

.difficulty button {
    cursor: pointer;
}

.main {
    width: 80%;
    border: 1px solid black;
    border-radius: 50px;
    background-color: #fffbe9e0;
}

footer {
    margin-top: auto;
}

.answers {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;                     
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
}

#easy {
    background-color: green;
}

#easy:hover {
    background-color: rgb(108, 218, 108);
}

#medium {
    background-color: yellow;
}

#medium:hover {
    background-color: rgb(255, 255, 178);
}

#hard {
    background-color: red;
}

#hard:hover {
    background-color: lightcoral;
}

header h1 {
    background-color: white;
    border: 20px solid white;
}

footer h6 {
    background-color: white;
    border: 15px solid white;
}

.info {
    color: #f9800f;
    display: flex;
    justify-content: center;
}

.answer {
    background-color: #ffffdd;
    border: 1px solid black;
    border-radius: 50px;
    width: 75%;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#answer-four {
    margin-bottom: 50px;
}

.answer:hover {
    background-color: #d0d0b5;
}

.question {
    color: #f9800f;
}

hr {
    color: #ffffdd;
}

.bold {
    font-weight: bold;
}